.nombre{
    font-size: 32px;
    font-family: 'Arial black', sans-serif;
}

.nombre_estadistica{
    font-size: 21px;
    font-family: 'Arial black', sans-serif;
}

.estadistica{
    font-weight: bold;
    color: #434343;
}

.estadistica_clave{
    font-weight: bold;
    color: #000000;
}

.contenedor_nombre{
    background-color: #d7d7d7;
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.contenedor_estadistica{
    background-color: #d7d7d7;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.contenedor_estadistica_nombre{
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    margin-bottom: 15px;
    margin-top: 5px;
}

.contenedor_general{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.contenedor_general_gris{
    width: 850px;
    gap: 100px;
}

.contenedor_tipo_estadistica{
    display: flex;
}

.contenedor_tipo_estadistica2{
    padding-left: 50px;
}

.contenedor_estadistica_segunda_columna{
    display: flex; 
    padding-left: 10px; 
    padding-top: 65px;
    justify-content: space-between; 
    width: 220px; 
    margin-left: 25px
}

.contenedor_jugadores_preferidos{
    padding-bottom: 10px;
    padding-left: 15px;
}

.contenedor_jugadores_preferidos_texto{
    display: flex;
    padding-left: 10px; 
    padding-top: 5px;
    justify-content: space-between;
    width: 450px;
    margin-left: 25px
}

.imagen_logo{
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.contenedor_loading_jugador{
    width: 500px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 100px
}

.tabla_esquemas{
    width: 290px; 
    margin-left: 15px; 
    text-align: center
}

/* 🔹 Estilos responsivos para celular */
@media (max-width: 600px) {
    .contenedor_general{
        flex-direction: column;
        justify-content: center;
    }

    .contenedor_general_gris{
        width: 300px;
        gap: 100px
    }

    .imagen_logo{
        height: 60px;
        width: 60px;
        margin-right: 5px;
    }

    .nombre{
        font-size: 26px;
        font-family: 'Arial black', sans-serif;
        font-weight: bold;
    }

    .contenedor_tipo_estadistica{
        flex-direction: column;
    }

    .contenedor_tipo_estadistica2{
        padding-left: 0px;
    }

    .nombre_estadistica{
        font-size: 21px;
        font-family: 'Arial black', sans-serif;
        font-weight: bold;
    }

    .contenedor_estadistica_segunda_columna{
        display: flex; 
        padding-left: 10px; 
        padding-top: 15px;
        justify-content: space-between; 
        width: 220px; 
        margin-left: 25px
    }

    .contenedor_jugadores_preferidos{
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .contenedor_jugadores_preferidos_texto{
        display: flex;
        padding-left: 10px; 
        padding-top: 5px;
        justify-content: space-between;
        width: 240px;
        margin-left: 25px
    }
    .contenedor_loading_jugador{
        width: 350px; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        padding-top: 100px;
    }
    .tabla_esquemas{
        width: 260px; 
        margin-left: 15px; 
        text-align: center
    }
    .contenedor_nombre{
        background-color: #d7d7d7;
        display: flex;
        gap: 10px;
        align-items: center;
        border: none;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 15px;
        margin-top: -15px;
    }
    .contenedor_estadistica{
        background-color: #d7d7d7;
        border: none;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    }
}