.nombres {
    font-size: 14px;
}

.nombres:hover{
    text-decoration: underline;
}

.estadistica{
    font-size: 14px;    
}

.link {
    text-decoration: none;
    font-size: 14px;
    color: #434343;
}


.link:hover{
    text-decoration: underline;
}

.nro_pagina{
    font-weight: bold;
    text-decoration: underline red 4px;
    text-underline-offset: 6px;
}

.boton_cambiar_pagina:hover{
    border-color: red;
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(255,0,0,0.2);
}

.boton_cambiar_pagina{
    border-width: 3px;
    border-radius: 8px;
    font-size: 28px;
    color: black;
    padding-left: 7px;
    padding-right: 7px;
}

.tablaPosiciones {
    width: 500px;

    border-color: red;
    border-collapse: collapse;
    border-start-start-radius: 4px;
    background-color: rgb(235, 235, 235);
    border-spacing: 15px 15px;
    text-align: left;
    user-select: none;
    -webkit-user-drag: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.dataTabla{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.indice{
    font-size: 14px;
    margin-right: 45px;    
}

.imagen_brumario{
    margin-right: 20px;
}
  
.th, .td {
    text-align: left;
    border: 0px solid #dddddd;
    user-select: none;
    -webkit-user-drag: none;
}
  
.th {
    background-color: #10437a;
    color: rgba(255, 235, 235, 0.971);
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none;
}

.th_black {
    background-color: #000000;
    color: white;
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none; 
}

.tr {
    border-bottom: 1px solid grey;
    user-select: none;
    -webkit-user-drag: none;
}
  
.tr:nth-child(even) {
    background-color: #d7d7d7;
}

.tr:hover{
    border-width: 3px;
    border-color: red;
}

.td {
    padding: 10px;
    font-weight: bold;
    color: #434343;
    user-select: none;
    -webkit-user-drag: none;
}

.contenedor_fila{
    width: 300px;
    display: flex;
    align-items: center;
}

.contenido_jugadores{
    display: flex; 
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 600px) {
  .contenido_jugadores {
    flex-direction: column; /* 🔹 Cambiar a vertical en pantallas chicas */
    align-items: center;    /* Opcional: centrar contenido */
    gap: 8px;              /* Un poco más de espacio */
  }

  .tablaPosiciones{
    border-color: red;
    border-collapse: collapse;
    border-start-start-radius: 4px;
    background-color: rgb(235, 235, 235);
    border-spacing: 15px 15px;
    text-align: left;
    user-select: none;
    -webkit-user-drag: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    width: 280px;
  }

  .contenedor_fila{
    width: 220px;
    display: flex;
    align-items: center;
  }

  .dataTabla{
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

  .indice{
    font-size: 14px;
    margin-right: 15px;    
  }

.imagen_brumario{
    margin-right: 5px;
}
}
