.contenedor_partidos {
    display: flex; 
    flex-direction: row; 
    gap: 10px
}

.contenedor_partido {
    display: flex;
}

.filtrar_rival {
  padding: 5px;
  border-radius: 5px;
}

.loading{
    width: 500px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 100px
}

.contenedor_general_gris_partidos{
    width: 870px;
    gap: 100px;
}

.tabla_partidos{
    width: 100%; 
    padding-bottom: 20px;
    padding-top: 15px;
}

.contenedor_estadistica_partidos{
    background-color: #d7d7d7;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.filtrar_competicion {
    width: auto;
}

@media (max-width: 600px) {
    .contenedor_partidos {
        flex-direction: column;
        justify-content: center;
    }
    .filtrar_rival {
        padding: 5px;
        border-radius: 5px;
        width: 200px
    }
    .loading{
        width: 100%; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        padding-top: 100px;
    }
    .contenedor_general_gris_partidos{
        width: 300px;
        gap: 100px
    }
    .tabla_partidos{
        overflow-x: auto; 
        width: 100%; 
        padding-top: 15px;
    }
    .contenedor_estadistica_partidos{
        background-color: #d7d7d7;
        border: none;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
        margin-top: -15px;
    }    
    .filtrar_competicion {
        width: 160px;
    }
}